/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
/* Nav Bar Style */
@import url("./components/NavBarComponent/NavbarStyle.css");

* {
  margin: 0;
  padding: 0;
  color: var(--white);
  list-style-type: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  touch-action: manipulation;
}

:root {
  --default_font_size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font_size_default: 16px;
  --border_trim: #D9B14B;
  --button_hover: #991843;
  --white: #E5D5D5;
  --red: #991843;
  --black: #000;
  --background: #242424;
  --fusion_corner_radius: 4px;
}

html {
  font-size: var(--default_font_size);
}

body {
  background-color: var(--background);
  font-family: 'Raleway', sans-serif;
  font-size: var(--font_size_default);
  text-align: center;
  word-spacing: .097rem;
  font-display: swap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
}

/* Main Page Layout */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  max-width: 700px;
  min-width: 360px;
  padding-top: 45px;
  margin: 0px auto;
  background-color: var(--background);
  
  h2 {
    font-family: "Rubik Dirt", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 12px 0;
  }
}

h1, h2, h3, p, a {
  text-transform: capitalize;
  letter-spacing: 0.025rem;
}

h1{
  font-size: 2.5rem;
  margin: 16px 0;
}

h2 {
  font-size: 1.5rem;
  margin: 16px 0;
}

h3 {
  font-size: 1.3rem;
  margin: 16px 0;
}

h4 {
  font: 1.1rem;
  margin: 12px;
}

p {
  font-size: .9rem;
  margin: 0;
}

a {
  text-decoration: none;
}

.button_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 16px;
  
  *:focus {
    outline: none;
  }
  
  button {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 8px 0;
    font-size: .85rem;
    background: none;
    border: 2px solid var(--border_trim);
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
      background-color: var(--button_hover);
    }
  }
  
  button:active {
    top: 2px;
  }
}

.dropdown_container {
  position: relative;
}

.dropdown_select {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 7.5px 0;
  font-size: 0.85rem;
  background: none;
  border: 2px solid var(--border_trim);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.dropdown_select:hover {
  background-color: var(--button_hover);
}

.dropdown_select.open {
  background-color: transparent;
}

.dropdown_options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--background);
  border: 2px solid var(--border_trim);
  border-radius: 4px;
  z-index: 1000;
}

.dropdown_option {
  padding: 8px;
  color: white;
  cursor: pointer;
}

.dropdown_option:hover {
  background-color: var(--button_hover);
}

#turns span {
  color: var(--border_trim);
  font-size: 1.3rem;
}


/* ==================== */
/*     LANDING PAGE     */
/* ==================== */
.landing_page {
  margin-top: 36px;
  
  * {
    font-weight: 400;
    font-style: normal;
    font-family: "Rubik Dirt", sans-serif;
  }
  
  h3 {
    font-size: 1.6rem;
    width: 90vw;
    margin: 0 auto;
  }
  
  img {
    width: 390px;
  }
  
  button {
    background-color: var(--red);
    font-size: 2rem;
    padding: 20px;
    width: 350px;
    height: 350px;
    margin: 60px auto 0;
    border: 2px solid var(--border_trim);
    border-radius: 50%;
    cursor: pointer;
    
    &:hover {
      border-color: var(--white);
    }
    
    img {
      width: 300px;
    }
  }
}

@media screen and (min-width: 600px) {
  .landing_page {
    margin-top: 80px;
    
    h3 {
      font-size: 2.5rem;
    }
  }
}
/* ==================== */
/*   END LANDING PAGE   */
/* ==================== */


/* ==================== */
/*      GAME CARDS      */
/* ==================== */
.game_icon_container{
  margin: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  
  * {
    transition: all 300ms ease;
  }
}

.game_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--background);
  border: 2px solid var(--border_trim);
  border-radius: 12px;

  &:hover {
    border-color: white;
  }

  &:focus {
    outline-offset: 2px;
    outline: 2px solid  var(--white);
    border-radius: 12px;
  }
  
  .game_card_title {
    background-color: var(--red);
    padding: 8px 0;
    
    p {
      font-size: 0.8rem;
      color: var(--white);
      font-weight: 700;
      letter-spacing: 0.03rem;
    }
    
    span {
      font-size: 0.65rem;
      color: var(--border_trim);
      font-weight: 500;
    }
  }
  
  img {
    width: 85%;
    margin: 12px auto 12px;
    aspect-ratio: 1/.8;
    border-radius: 5px;
  }
}

@media screen and (min-width: 500px) {
  .game_card .game_card_title {
    p {
      font-size: 1.1rem;
    }
    
    span {
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 650px) {
  .game_card .game_card_title {
    p {
      font-size: 1.3rem;
    }
    
    span {
      font-size: 1rem;
    }
  }
}

/* ==================== */
/*     MEMORY CARDS     */
/* ==================== */

.button_box {
  .selected {
    background-color: var(--button_hover);
  }
}

.card_grid {
  margin: 0;
  display: grid;
  margin: 48px 16px 8px 16px;
  
  .memory_card {
    position: relative;
    
    img {
      width: 100%;
      aspect-ratio: 1/1;
      display: block;
      border: 2px solid var(--border_trim);
      border-radius: 6px;
    }
  }
}

.card_grid.grid_difficulty_easy {
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.card_grid.grid_difficulty_medium {
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.card_grid.grid_difficulty_hard {
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.memory_card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.memory_card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (min-width: 500px) {
  .card_grid {
    margin: 0;
    margin: 16px 48px 8px 48px;
  }
}

/* ==================== */
/*   END MEMORY CARDS   */
/* ==================== */


/* ==================== */
/*      SIMON SAYS      */
/* ==================== */

.simon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  min-width: 350px;
  background-color: var(--background);
  
  button {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2px;
    border: 2px solid black;
    transition: all 0.2s ease;
    cursor: pointer;
    
    &:focus {
      outline: none;
    }
  }
  
  #play_button {
    cursor:pointer;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 90px;
    width: 90px;
    top: -201px;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--white);
    border: 2px solid black;
    
    &:active {
      border-color: var(--red);
    }
    
    &:disabled {
      cursor: default;
      color: var(--red);
      font-weight: 900;
      font-size: 2rem;
      
      &:active, &:hover {
        border-color: black;
      }
    }
  }
}

.simon_green {
  background-color: rgb(0, 125, 0);
  border-top-left-radius: 100%;
  
  &:hover {
    transform: scale(1.015);
  }
  
  &:active {
    opacity: .9;
    transform: scale(0.995);
    filter: drop-shadow(0px 0px 10px black)
  }
}

.simon_red {
  background-color: rgb(163, 32, 32);
  border-top-right-radius: 100%;
  
  &:hover {
    transform: scale(1.015);
  }
  
  &:active {
    opacity: .9;
    transform: scale(0.995);
    filter: drop-shadow(0px 0px 10px black)
  }
}

.simon_yellow {
  background-color: rgb(170, 170, 0);
  border-bottom-left-radius: 100%;
  
  &:hover {
    transform: scale(1.015);
  }
  
  &:active {
    opacity: .9;
    transform: scale(0.995);
    filter: drop-shadow(0px 0px 10px black)
  }
}

.simon_blue {
  background-color: rgb(19, 19, 170);
  border-bottom-right-radius: 100%;
  
  &:hover {
    transform: scale(1.015);
  }
  
  &:active {
    opacity: .9;
    transform: scale(0.995);
    filter: drop-shadow(0px 0px 10px black)
  }
}

.highlight {
  filter: drop-shadow(0px 0px 10px white) brightness(5) !important;
}

.opacity {
  opacity: 0.5 !important;
}

@media screen and (min-width: 500px) {
  .simon_container {
    padding-top: 50px;
    min-width: 420px;
    
    button {
      width: 175px; 
      height: 175px; 
      margin: 3px;
    }
    
    #play_button {
      top: -230px;
      height: 100px;
      width: 100px;
    }
  }
}

/* ==================== */
/*    END SIMON SAYS    */
/* ==================== */


/* ==================== */
/*     WORDLE STYLES    */
/* ==================== */

.wordle-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border: none;
  border-radius: 8px;
  padding: 12px;
  width: 330px;
  height:440px
}

.wordle-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.wordle-cell {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #3a3a3a;
}

.wordle-cell.correct {
  color: white;
  background-color: #386c33;
}

.wordle-cell.present {
  background-color: #c9b458;
  color: white;
}

.wordle-cell.absent {
  color: white;
  background-color: #787c7e;
}

.wordle-keyboard {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 495px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 350px;
  margin: 36px auto 8px;
  gap: 8px;
  
  p {
    position: absolute;
    left: 50%;
    top: -22px;
    transform: translate(-50%);
    color: var(--red);
    font-weight: bold;
  }
}

.wordle-key-row {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.wordle-key {
  background-color: #3a3a3a;
  border-radius: 5px;
  font-size: 0.85rem;
  width: 30px;
  padding: 4px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:focus {
    outline-offset: 1px;
    outline: 2px solid  var(--border_trim);
    border-radius: 4px;
  }
}

.wordle-key.correct, .wordle-key.correct:active, .wordle-key.correct:hover {
  background-color: #6aaa64;
  color: white;
}

.wordle-key.present, .wordle-key.present:active, .wordle-key.present:hover {
  background-color: #c9b458;
  color: white;
}

.wordle-key.absent,.wordle-key.absent:active, .wordle-key.absent:hover {
  background-color: #787c7e;
  color: white;
}

.wordle-key:hover {
  background-color: #585858;
}

.wordle-key:active {
  background-color: var(--red);
  color: #434343;
}

.special {
  width: 40px;

  svg {
    height: 1.2rem;
    width: 1.2rem
  }
}

.game-status {
  margin-top: 0px;
  font-size: 1rem;
  color: var(--border_trim);
}

@media (min-width: 500px) {
  .wordle-board {
    width: 380px;
    height: 530px;
    border: 3px groove var(--border_trim);
  }
  
  .wordle-key {
    font-size: 0.95rem;
    padding: 8px;
  }
  
  .wordle-cell {
    width: 55px;
    height: 55px;
    font-size: 1.4rem;
  }
  
  .wordle-keyboard {
    top: 580px;
    
    p {
      top: -20px
    }
  }
}

/* ==================== */
/*   END WORDLE STYLES  */
/* ==================== */


/* ==================== */
/*   LIGHTS OUT STYLE   */
/* ==================== */

.lightsout_board {
  margin-top: 24px;
  width: 330px;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  animation: flicker 1.5s infinite alternate; 

  * {
    transition: all 300ms ease-in-out;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    box-shadow: 0 0 45px var(--red);
  }
  20%, 24%, 55% {
    box-shadow: none;
  }
}

.lightsout_board_row {
  display: inline-block; 
  width: auto;
}

.lightsout_cell-on {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--red);
  border: none;
  margin: 20px;
  box-shadow: 
  0 0 22px var(--red),
  0 0 42px var(--red);
}

.lightsout_cell-off {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  margin: 20px;
  background-color: rgb(55, 55, 55);
}

@media screen and (min-width: 600px) {
  .lightsout_board {
    width: 520px;
  }

  .lightsout_cell-on {
    width: 40px;
    height: 40px;
    margin: 30px;
  }
  
  .lightsout_cell-off {
    width: 40px;
    height: 40px;
    margin: 30px;
  }
}

/* ==================== */
/*    END LIGHTS OUT    */
/* ==================== */


/* ==================== */
/*       STACK IT       */
/* ==================== */

#stack_it_p {
  margin: 4px 0 0;
  font-weight: 800;
  font-size: .85rem;
  color: var(--red);
}

/* ==================== */
/*     END STACK IT     */
/* ==================== */


/* ==================== */
/*         MODALS       */
/* ==================== */

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .25);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000;
  scroll-behavior: none;
}

#winning_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border:4px groove var(--border_trim);
  border-radius: 8px;
  z-index: 10000001;
  
  span {
    position: relative;
    bottom: 1px;
  }
}

.game_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
  padding: 16px 10px;
  text-align: center;
  background-color: var(--background);
  border: 3px solid var(--border_trim);
  border-radius: 6px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: auto;
  
  h3 {
    font-size: 1.75rem;
    font-family: "Rubik Dirt", sans-serif;
    margin: 0;
  }
  
  p {
    font-size: 0.9rem;
    margin: 16px;
  }
}

/* ==================== */
/*       END MODAL      */
/* ==================== */


/* ==================== */
/*      404 Style       */
/* ==================== */
.error_404 {
  a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    
    img {
      border: 3px solid var(--border_trim);
      border-radius: 50%;
      width: 340px;
      aspect-ratio: 1/1;
      background-color: var(--red);
      
    }
    
    h1 {
      position: relative;
      top: 160px;
      font-size: 1.8rem;
      font-family: "Rubik Dirt", sans-serif;
      font-weight: 400;
      font-style: normal;
      
      span {
        position: relative;
        bottom: 4px;
        font-size: 1rem;
        font-family: 'Segoe Script', cursive, sans-serif;
        word-spacing: -0.2rem;
      }
    }
  }
}

  @media screen and (min-width: 500px) {
    .error_404 a {
      transform: translate(-50%, -70%);
    }
  }

/* ==================== */
/*     END 404 Style    */
/* ==================== */


/* ==================== */
/*     TETRIS STYLE     */
/* ==================== */

.gameboy {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -7px;
  width: 365px;
  height: 550px;
  border: 2px solid rgb(153, 153, 153);
  border-radius: 10px 10px 77px 10px;
  background-image: -webkit-linear-gradient(#adb6b3, #bec2c1 50%);
  background-image: linear-gradient(#adb6b3, #bec2c1 50%);
  box-shadow: -5px 6px 20px rgba(0, 0, 0, 0.37),
    -21px 17px 65px rgba(0, 0, 0, 0.46), inset -3px 0 4px #8e918e,
    inset -7px 0 7px #dfdfdf, inset 1px 0 3px #66696a, inset 3px 0 10px #616465,
    inset 0 3px 7px #919496, inset 0 4px 10px white;

    * {
      list-style-type: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-drag: none;
      user-select: none;
    }
}

.gameboy_start,
.gameboy_pause {
  cursor: pointer;
}

.gameboy_buttons li span {
  transform: rotate(-90deg) translate(-8px, 40px) scaleY(0.75);
  font-family: "Squada One";
  font-weight: 900;
  position: absolute;
  right: 27px;
  color: rebeccapurple;
}

.gameboy_buttons_2 li span {
  font-family: "Squada One";
  position: absolute;
  left: -5px;
  font-weight: 900;
  color: rebeccapurple;
  transform: rotate(-90deg) translate(-8px, 0) scale(0.6, 0.7);
}

.gameboy_pause span {
  position: absolute;
  right: -36px;
  top: 4px;
}

.gameboy_buttons {
  position: absolute;
  top: 385px;
  left: 250px;
  padding: 4px;
  border-radius: 50px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.21), -1px -1px 0px #babdbc,
    inset 0 12px 22px rgba(0, 0, 0, 0.12);
  transform: rotate(64deg);
  cursor: pointer;
}

.gameboy_buttons li {
  transition: ease-in-out 0.3s;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(68, 32, 54, 1);
  border-radius: 100%;
  background-image: -webkit-linear-gradient(6deg, rgba(133, 50, 108, 0.61), #6d1851 89%);
  background-image: linear-gradient(6deg, rgba(133, 50, 108, 0.61), #6d1851 89%);
  box-shadow: inset 1px 2px 4px #a87493, -1px -1px 2px #000000,
    3px 6px 7px rgba(125, 136, 134, 0.79);
}

.gameboy_buttons li:first-child {
  margin-bottom: 17px;
}

.gameboy_buttons li:active {
  transition: ease-in-out 0.05s;
  box-shadow: inset 0px 0px 0px #a87493, -1px -1px 2px #000000,
    0px 0px 0px rgba(125, 136, 134, 0.79);
}

.gameboy_buttons_2 {
  position: absolute;
  top: 493px;
  left: 155px;
  transform: rotate(64deg);
}

.gameboy_buttons_2 li {
  position: absolute;
  width: 12px;
  height: 39px;
  border-radius: 50px;
  background-image: -webkit-linear-gradient(269deg, #6f7875, #9b9b9b 71%);
  background-image: linear-gradient(269deg, #6f7875, #9b9b9b 71%);
  box-shadow: 1px 1px 1px rgba(226, 226, 226, 0.97), -1px -1px 2px #767a79, inset 1px 1px 1px #a3aca9;
}

.gameboy_buttons_2 li:last-child {
  position: absolute;
  bottom: 7px;
  left: 20px;
}

.gameboy_buttons_2 li:active {
    background-image: -webkit-linear-gradient(269deg, #6f7875, #9b9b9b 51%);
    background-image: linear-gradient(269deg, #6f7875, #9b9b9b 51%);
}

.gameboy_speaker {
  position: absolute;
  top: 470px;
  left: 274px;
  transform: rotate(64deg);
}

.gameboy_speaker li {
  margin-bottom: 8px;
  width: 42px;
  height: 6px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7), inset 2px 1px 3px #5b5a53,
    inset 1px -1px black;
}

.gameboy_game_pad {
  position: absolute;
  top: 395px;
  left: 32px;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  box-shadow: inset -7px 10px 22px #c7cbca, inset 7px -10px 22px #b8b8b8;
}

.gameboy_pad_up {
  position: absolute;
  top: 9px;
  left: 34px;
  width: 24px;
  height: 27px;
  border-radius: 2px 2px 0 0;
  background: #282c2b;
  background-image: -webkit-linear-gradient(90deg, #282c2b, #808382 120%);
  background-image: linear-gradient(90deg, #282c2b, #9b9b9b 120%);
  box-shadow: 1px -1px 1px rgb(53, 53, 53), -4px 2px 7px rgba(96, 99, 98, 0.64);
  cursor: pointer;
}

.gameboy_pad_up li {
  margin: 2px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #353837;
  box-shadow: inset 0 -1px 1px #494c4b;
}

.gameboy_pad_up:active {
    background-image: -webkit-linear-gradient(90deg, #282c2b, #808382 100%);
    background-image: linear-gradient(90deg, #282c2b, #9b9b9b 100%);
}

.gameboy_pad_right {
  position: absolute;
  top: 34px;
  left: 58px;
  width: 24px;
  height: 28px;
  border-radius: 2px 2px 0px 0;
  background: #282c2b;
  background-image: -webkit-linear-gradient(303deg, #282c2b, #9b9b9b 110%);
  background-image: linear-gradient(303deg, #282c2b, #9b9b9b 110%);
  box-shadow: -1px -1px 1px rgb(53, 53, 53);
  transform: rotate(90deg);
  cursor: pointer;
}

.gameboy_pad_right li {
  margin: 2px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #353837;
  box-shadow: inset 0 -1px 1px #494c4b;
}

.gameboy_pad_right:active {
  background-image: -webkit-linear-gradient(303deg, #282c2b, #9b9b9b 90%);
  background-image: linear-gradient(303deg, #282c2b, #9b9b9b 90%);
}

.gameboy_pad_down {
  position: absolute;
  top: 58px;
  left: 34px;
  width: 24.5px;
  height: 24px;
  padding-top: 5px;
  border-radius: 0 0 2px 2px;
  background: #282c2b;
  background-image: -webkit-linear-gradient(55deg, #131716, #6a706f 145%);
  background-image: linear-gradient(55deg, #131716, #6a706f 145%);
  box-shadow: -5px 0px 6px #606362;
  cursor: pointer;
}

.gameboy_pad_down li {
  margin: 2px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #050908;
  box-shadow: inset 0 -1px 1px #343839;
}

.gameboy_pad_down:active {
  background-image: -webkit-linear-gradient(55deg, #131716, #6a706f 125%);
  background-image: linear-gradient(55deg, #131716, #6a706f 125%);
}

.gameboy_pad_left {
  position: absolute;
  top: 33px;
  left: 10px;
  z-index: 2;
  width: 24px;
  height: 23px;
  padding-top: 5px;
  border-radius: 0px 0px 2px 2px;
  background: #282c2b;
  background-image: -webkit-linear-gradient(290deg, #131716, #6a706f 175%);
  background-image: linear-gradient(290deg, #131716, #6a706f 175%);
  box-shadow: 2px 3px 7px rgb(53, 53, 53);
  transform: rotate(90deg);
  cursor: pointer;
}

.gameboy_pad_left li {
  margin: 2px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #050908;
  box-shadow: inset 0 -1px 1px #343839;
}

.gameboy_pad_left:active {
  background-image: -webkit-linear-gradient(290deg, #131716, #6a706f 135%);
  background-image: linear-gradient(290deg, #131716, #6a706f 135%);
}

.gameboy_circle {
  position: absolute;
  top: 35px;
  left: 34px;
  z-index: 5;
  width: 24px;
  height: 24px;
  background-image: -webkit-linear-gradient(-134deg, #656666, #2e3231 60%);
  background-image: linear-gradient(-134deg, #656666, #2e3231 60%);
}

.gameboy_circle li {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(39, 42, 41, 0.91);
  border-radius: 16px;
  background: #4b4e4d;
  box-shadow: inset 2px -1px 8px #868787, inset 3px -1px 10px black;
}


.tetris {
  *{
    margin:0;
    padding:0;  
    box-sizing: border-box;
  }
}

.preview_container {
  position: relative;
  left: 6px;
  background-color: #88AC28;
  border: 1px solid #224132;
  border-radius: 6px;
  padding: 2px;
  height: 56px;
  width: 50px;
}

.preview_board {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

/* hides the input */
.game_controller {
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.board_cell {
  width: auto;
  border-radius: 4px;
  position: relative;
}

.tetromino {
  border-top: 3px solid rgba(255,255,255,0.1);
  border-left: 3px solid rgba(255,255,255,0.1);
  border-bottom: 3px solid rgba(0,0,0,0.1);
  border-right:  3px solid rgba(0,0,0,0.1);
}

.tetromino .sparkle {
  position: absolute;
  z-index: 10;
  width: 4px;
  height: 4px;
  left: -2px;
  top: -2px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 6px 6px;
}

.tetromino.ghost {
  background-color: transparent; 
  border:  1px solid #224132;
  opacity: calc(25%);
}

.tetromino.ghost .Sparkle {
  opacity: 0;
}

.tetromino__i {
background-color: rgba(255,127,0,1);
}

.tetromino__j {
  background-color: rgb(0,0,255,1);
}

.tetromino__l {
  background-color: rgb(0,255,255,1);
}

.tetromino__o {
  background-color: rgba(255,255,0,1);
}

.tetromino__s {
  background-color: rgb(0,255,0,1); 
}

.tetromino__t {
  background-color: rgb(128,0,128,1);
}

.tetromino__z {
  background-color: rgb(255,0,0,1);
}

.board_container {
  margin: 16px auto 0;
  padding: 0;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #224132;
  border: 2px solid #224132;
  border-radius: 12px;
}

.board {
  padding:1px;
  display: grid;
  grid-gap: 0px;
  width: 250px;
  height: 360px;
  background: #88AC28;
  border: 1px solid #224132;
  border-left: 10px solid #224132;
  border-radius: 8px 0 0px 8px;
}

.scoring {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 28px;
  height: 340px;
  width: 65px;
  background-color: #224132;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  
  p {
    text-transform: uppercase;
    text-align: right;
    font-size: .85rem;
    font-weight: 600;
    color: #000;
  }
}

.tetris_score_box, .tetris_level, .tetris_lines {
  background-color: #88AC28;
  border-radius: 6px;
  padding: 2px 4px;
}

.rules_of_game{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 298px;
  height: 362.5px;
  background-color: #88AC28;
  border-radius: 10px;
  margin-top: 4%;
  color: #224132;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid #224132;
  
  li {
      display: flex;
      align-items: center;
      color: #224132;
      
      span {
        font-size: 0.64rem;
        font-weight: 800;
        padding: 3px 5px 2px 6px;
        color: #224132;
        border: 2px solid  #224132;
        border-radius: 50%;
      }
      
      svg {
        fill:  #224132;
      }
  }
  
  .rules_buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  
    a {
      outline: none;
    }
    
    button {
        padding: 4px 8px;
        font-size: 1.2rem;
        font-weight: 800;
        width: 100px;
        border-radius: 8px;
        border: 1px solid #224132;
        cursor: pointer;
        background-color: #224132;
        color:#88AC28;
        margin: 0 auto;
        
        &:hover {
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          border: 1px solid #000;
        }
        
        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px var(--red);
        }
    }
  }
}

.rules_list {
  list-style-type: none;
  padding: 5px;
  text-align: start;
}

/* ==================== */
/* END OF TETRIS STYLE  */
/* ==================== */


/* ==================== */
/*  COLOR FUSION STYLE  */
/* ==================== */

.fusion_game_wrapper {
  width: fit-content;
}

.fusion_grid_container {
  position: relative;
  padding: 8px ;
  background-color: #DED6D1;
  border-radius: 6px ;
  border: 3px solid var(--border_trim);
  }



/*            */
/* GRID STYLE */
/*           */
.vstack {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.hstack {
  display: flex;
  gap: 0;
  background-color: #DED6D1;
}

.fusion_tile_container {
  position: relative;
  display: inline-block;
}
.fusion_tile_separator_horizontal {
  margin-left: 1px;
  width: 20px;
  height: 1px;
  background-color: #DED6D1;
}

.fusion_tile_wrapper {
  display: flex;
}

.fusion_tile_separator_vertical {
  width: 1px;
  height: 20px;
  background-color: #DED6D1;
}
/*                */
/* END GRID STYLE */
/*                */

/*            */
/* TILE STYLE */
/*            */

.fusion_tile {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* Not In Use */
.fusion_blank {
  background-color: var(--background);
}

.fusion_rounded {
border-radius: var(--fusion_corner_radius);
}

.fusion_shine::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  width: 2px;
  height: 16px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  filter: blur(3px);
}

.fusion_shine::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 16px;
  height: 2px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  filter: blur(3px);
}

.fusion_top {
  border-top-left-radius: var(--fusion_corner_radius);
  border-top-right-radius: var(--fusion_corner_radius);
}

.fusion_bottom {
  border-bottom-right-radius: var(--fusion_corner_radius);
  border-bottom-left-radius: var(--fusion_corner_radius);
}

.fusion_left {
  border-top-left-radius: var(--fusion_corner_radius);
  border-bottom-left-radius: var(--fusion_corner_radius);
}

.fusion_right {
  border-top-right-radius: var(--fusion_corner_radius);
  border-bottom-right-radius: 4px
}

.fusion_topleft {
  border-top-left-radius: var(--fusion_corner_radius);
}

.fusion_topright {
  border-top-right-radius: var(--fusion_corner_radius);
}

.fusion_bottomleft {
  border-bottom-left-radius: var(--fusion_corner_radius);
}

.fusion_bottomright {
  border-bottom-right-radius: var(--fusion_corner_radius);
}

.fusion_black {
  color: var(--black);
  border-radius: var(--fusion_corner_radius);
}
/*                */
/* END TILE STYLE */
/*                */

/* Screen adaption */
@media screen and (min-width: 500px) {
  .fusion_tile {
    height: 29px;
    width: 29px;
  }
  
  .fusion_tile_separator_horizontal {
    margin-left: 2px;
    width: 29px;
    height: 2px;
  }
  
  .fusion_tile_separator_vertical {
    width: 2px;
    height: 29px;
  }
  
  .fusion_shine::before {
    height: 25px;
  }
  
  .fusion_shine::after {
    width: 25px;
  }
}

/* ====================== */
/* END COLOR FUSION STYLE */
/* ====================== */


/* ==================== */
/*    SUDOKU STYLES     */
/* ==================== */

.sudoku_board_container {
  margin: 8px auto 4px;
  display: grid;
  grid-template-columns: repeat(9, 39px);
  gap: 0;
  width: fit-content;
  border: 5px solid #991843;
  background-color: #991843;
  box-sizing: border-box;
}

.sudoku_cell {
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  outline: none;
  cursor: pointer;
  user-select: none;
  
  &:hover {
    filter: brightness(0.9);
  }
}

.sudoku_numbers_box {
  margin: 0 auto;
}

.sudoku_number_inputs {
  display: flex;
  flex-direction: row;
  gap: 2px;
  width: 351px;
  margin: 0 auto;
  border: 5px solid #991843;
  background-color: #991843;
}

.sudoku_number_button {
  font-weight: 800;
  font-size: 18px;
  width: 38px;
  height: 38px;
  outline: none;
  cursor: pointer;
  user-select: none;
  
  &:hover {
    filter: brightness(0.95);
  }
}

.sudoku_puzzle_id {
  font-size: 0.5rem;
  font-weight: bold;
  color: #991843;
  margin-top: 4px;
}

/* ==================== */
/*   END SUDOKU STYLE   */
/* ==================== */